name: Scrape OSM

on:
  workflow_dispatch:
    inputs:
      run_scraper:
        description: "Run scraper"
        type: boolean
        default: true
      run_cleaner:
        description: "Run cleaner"
        type: boolean
        default: false

jobs:
  scrape-osm:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build Docker image
        run: docker build -t osm-scraper .

      - name: Install AWS kit
        run: pip install boto3

      - name: Run scraper
        if: ${{ inputs.run_scraper }}
        run: |
          docker run \
          -v ${{ github.workspace }}:/app \
          -e GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
          -e B2_KEY_ID="${{ secrets.B2_KEY_ID }}" \
          -e B2_APPLICATION_KEY="${{ secrets.B2_APPLICATION_KEY }}" \
          -e B2_BUCKET_NAME="${{ secrets.B2_BUCKET_NAME }}" \
          -e B2_ENDPOINT="${{ secrets.B2_ENDPOINT }}" \
          osm-scraper python src/scrape.py

      - name: Run cleaner
        if: ${{ inputs.run_scraper }}
        run: |
          docker run \
          -v ${{ github.workspace }}:/app \
          -e GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}" \
          -e B2_KEY_ID="${{ secrets.B2_KEY_ID }}" \
          -e B2_APPLICATION_KEY="${{ secrets.B2_APPLICATION_KEY }}" \
          -e B2_BUCKET_NAME="${{ secrets.B2_BUCKET_NAME }}" \
          -e B2_ENDPOINT="${{ secrets.B2_ENDPOINT }}" \
          osm-cleaner python src/cleaner.py

      # - name: Commit state files
      #   run: |
      #     git config --global user.name "github-actions[bot]"
      #     git config --global user.email "github-actions[bot]@users.noreply.github.com"
      #     git add "data/raw/osm countries queries/processed_countries.pkl"
      #     if git diff --cached --quiet; then
      #       echo "No changes to commit"
      #     else
      #       git commit -m "Update processed_countries.pkl"
      #       git push
      #     fi

      # - name: Create timestamp variable
      #   id: ts
      #   run: echo "ts=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      # - name: Upload scraped data as artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: country-data-${{ github.run_number }}_${{ steps.ts.outputs.ts }}
      #     path: data/raw
      #     retention-days: 30

      # GitHub Actions VM already has AWS CLI v2
      # - name: Install AWS CLI v2
      #   run: |
      #     curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
      #     unzip awscliv2.zip
      #     sudo ./aws/install

      # - name: Upload files to Backblaze B2 (S3 compatible)
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.B2_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.B2_APPLICATION_KEY }}
      #     AWS_DEFAULT_REGION: us-east-005
      #   run: |
      #     ts="${{ steps.ts.outputs.ts }}"
      #     aws s3 cp "data/raw" \
      #       s3://${{ secrets.B2_BUCKET_NAME }}/data/raw/ \
      #       --recursive \
      #       --endpoint-url "${{ secrets.B2_ENDPOINT }}"
